<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Error</title>
      <link rel="stylesheet" href="../../public/reset.css" type="text/css">
      <link rel="stylesheet" href="../../public/modules.css" type="text/css">
      <link rel="stylesheet" href="../../public/layout.css" type="text/css">
      <link rel="stylesheet" href="../../public/base.css" type="text/css">
    </head>
    <body>
      <h1>Oh no! Something went wrong!</h1>
      <h3><%= status %></h3>
      <p><%= message %></p>
    </body>
</html>