<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book-App</title>
</head>
  <body>
    <header>
      <h1>Hello World!</h1>
    </header>
    <ul>
      <li>Aloha!</li>
      <li>Buenos dias!</li>
      <li>Bonjour!</li>
    </ul>
  </body>
  <footer>The following is sponsered by greetings of the world!</footer>
</html>